<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scable=no">
	<title>魔力月光 - 南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司"/>
	<meta name="description" content="南京鸿鸣网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司，公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/publish/submit_house.css">
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
</head>
<body>
	<header class="header">
		<div class="padd"><span class="header_cancel">取消</span><span class="header_title">发布房源</span></div>
	</header>
	<div class="search">
		<div class="search_detail">
			<input id="search" type="text" placeholder="搜索想要发布的大厦">
			<span>新增楼盘</span>
		</div>
	</div>
	<div class="detail_info">
		<span>大厦信息</span>
		<table cellpadding="0" cellspacing="0">
			<tr>
				<td>商圈:</td><td>浦东-八佰伴</td>
			</tr>
			<tr>
				<td>物业:</td><td>上海浦江物业有限公司</td>
			</tr>
			<tr>
				<td>层数:</td><td>23</td>
			</tr>
			<tr>
				<td>层高:</td><td>标准4.5米，净高2.75米，大堂14.5米</td>
			</tr>
			<tr>
				<td>车位:</td><td>地上30个，地下400个，1250元/月</td>
			</tr>
			<tr>
				<td>电梯:</td><td>客梯8部，货梯2部，三菱电梯</td>
			</tr>
			<tr>
				<td>空调:</td><td>集中式中央空调</td>
			</tr>
			<tr>
				<td>入驻企业:</td><td>顺诚商业地产（房地产/建筑）、大大集团</td>
			</tr>
			<tr>
				<td>地铁:</td><td>距离世纪大道站步行7分钟</td>
			</tr>
		</table>
	</div>
	<div class="source_info">
		<span>房源信息</span>
		<div class="source_select">请选择发布房源的属性</div>
		<ul>
			<li><i class="point"></i>整层</li>
			<li><i class="point"></i>整栋</li>
			<li><i class="point"></i>众创空间</li>
			<li><i class="point"></i>商务中心</li>
			<li><i class="point"></i>创意产业园</li>
			<li><i class="point"></i>写字楼</li>
			<li><i class="point"></i>工位</li>
		</ul>
		<div class="source_detail_info">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td>房源面积</td>
					<td><input type="text" placeholder="20"></td>
					<td>㎡</td>
				</tr>
				<tr>
					<td>房源单价</td>
					<td><input type="text" placeholder="6.5"></td>
					<td>元/㎡/天</td>
				</tr>
				<tr>
					<td>交付状态</td>
					<td colspan="2">
						<select name="" id="">
							<option value="">标准交付</option>
							<option value="">毛坯交付</option>
							<option value="">标注交付</option>
							<option value="">简装</option>
							<option value="">精装</option>
							<option value="">豪装</option>
						</select>
					</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td>交付日期</td>
					<td><input type="text" placeholder="2015-06-21"></td>
					<td><div><i class="point"></i>是否现房</div></td>
				</tr>
				<tr>
					<td>最短租期</td>
					<td colspan="2"><input id="years" type="text" placeholder="三年"></td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td>付款方式</td>
					<td><input type="text" placeholder="押三付一"></td>
					<td><div><i class="point"></i>是否含发票</div></td>
				</tr>
				<tr>
					<td>是否结佣</td>
					<td><input type="text" placeholder="一个月"></td>
					<td><div><i class="point"></i>是</div></td>
				</tr>
				<tr>
					<td>装修免租</td>
					<td colspan="2"><input id="no" type="text" placeholder="一个月"></td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td>看房时间</td>
					<td><input type="text" placeholder="8:00"></td>
					<td><input type="text" placeholder="20:00"></td>
				</tr>
				<tr>
					<td>房源简介</td>
					<td colspan="2"><textarea name="" id="" cols="30" rows="10" placeholder="房源简介"></textarea></td>
					<td colspan="2"></td>
				</tr>
			</table>
		</div>
		<div class="file_pic"><input type="file">添加图片</div>
	</div>
 	<div class="button">
		<button>确认发布</button>
	</div>
	<div class="cover">
		<div class="box_confirm">
			<div class="box_top">您确定要退出此次发布？</div>
			<div class="box_bottom">
				<div class="box_bottom_left">取消</div>
				<div class="box_bottom_right">确定</div>
			</div>
		</div>
	</div>
	<div class="cover1">
	<div class="box_confirm">
		<div class="box_top">房源发布成功，请稍后！</div>
		<div class="box_bottom">
			<div class="box_bottom_right">确定</div>
		</div>
	</div>
</div>
</body>
<script src="../../public/js/publish/submit_house.js"></script>
</html>