body {
  padding: 0;
  margin: 0;
  background: #efeff4;
  color: #323232;
}
.header {
  height: 40px;
  background-color: #fff;
  line-height: 40px;
}
.header .icon {
  position: absolute;
  top: 4px;
  right: 10px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../../img/nav_set_icon@2x.png") no-repeat center;
  background-size: 20px 20px;
}
.header .header_title {
  display: inline-block;
  width: 100%;
  color: #323232;
  text-align: center;
  border-bottom: 1px solid #d6d7dc;
}
.login {
  width: 100%;
  height: 140px;
  background: #fff;
  margin-top: 11px;
}
.login .login_main {
  position: relative;
  height: 96px;
  border-bottom: 1px solid #d6d7dc;
  padding-left: 87px;
}
.login .login_main .login_pic {
  position: absolute;
  left: 12px;
  top: 16px;
  display: block;
  width: 65px;
  height: 65px;
  background: url("../../img/20131203152055783.jpg") no-repeat center;
  background-size: 65px 65px;
  border-radius: 50%;
}
.login .login_main .login_pic .login_icon {
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("../../img/log-in_member_icon@2x.png") no-repeat center;
  background-size: 18px 18px;
  right: 0;
  bottom: 0;
}
.login .login_main .login_text {
  padding-top: 31px;
}
.login .login_main .login_link {
  margin-top: 7px;
  font-size: 12px;
  background: url("../../img/log-in_edit_icon@2x.png") no-repeat left 55px top 0;
  background-size: 11px 12px;
}
.login .login_main:after {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 36px;
  background: url("../../img/login_right.png") no-repeat center;
  right: 11px;
  top: 50%;
  z-index: 1;
  margin-top: -18px;
}
.login .login_bottom {
  padding: 7px 0;
  width: 100%;
}
.login .login_bottom .bottom {
  line-height: 29px;
  display: inline-block;
  height: 29px;
  width: 48%;
  border-right: 1px solid #d6d7dc;
  text-align: center;
  font-size: 12px;
}
.login .login_bottom .bottom .num {
  font-weight: bold;
  font-size: 16px;
  color: #323232;
}
.login .login_bottom .right0 {
  border: 0;
}
.main {
  padding: 0;
  margin: 0;
}
.main .main_li {
  height: 50px;
  margin-top: 11px;
  list-style: none;
  line-height: 50px;
  padding-left: 39px;
}
.main .main_li:nth-child(1) {
  background: url("../../img/content_list_icon01@2x.png") no-repeat left 12px top 14px #fff;
  background-size: 20px 19px;
}
.main .main_li:nth-child(2) {
  background: url("../../img/content_list_icon02@2x.png") no-repeat left 12px top 14px #fff;
  background-size: 20px 19px;
}
.main .main_li:nth-child(3) {
  background: url("../../img/content_list_icon05@2x.png") no-repeat left 12px top 14px #fff;
  background-size: 20px 19px;
}
.main .main_li:nth-child(4) {
  background: url("../../img/content_list_icon03@2x.png") no-repeat left 12px top 14px #fff;
  background-size: 20px 19px;
}
.main .main_li:nth-child(5) {
  background: url("../../img/content_list_icon04@2x.png") no-repeat left 12px top 14px #fff;
  background-size: 20px 19px;
}
.footer {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  padding: 0;
  margin: 0;
}
.footer .footer_li {
  float: left;
  list-style: none;
  width: 20%;
  height: 20px;
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
  color: #b4b4b4;
}
.footer .footer_li:nth-child(1) {
  background: url("../../img/bottom_nor_icon04@2x.png") no-repeat center top 7px #fff;
  background-size: 22px 21px;
}
.footer .footer_li:nth-child(2) {
  background: url("../../img/bottom_nor_icon03@2x.png") no-repeat center top 7px #fff;
  background-size: 22px 21px;
}
.footer .footer_li:nth-child(3) {
  background: url("../../img/bottom_icon05@2x.png") no-repeat center top 7px #fff;
  background-size: 44px 38px;
}
.footer .footer_li:nth-child(4) {
  background: url("../../img/bottom_nor_icon02@2x.png") no-repeat center top 7px #fff;
  background-size: 22px 21px;
}
.footer .footer_li:nth-child(5) {
  background: url("../../img/bottom_press_icon01@2x.png") no-repeat center top 7px #fff;
  background-size: 22px 21px;
  color: #ea5404;
}
.cover {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.9);
  z-index: 1;
}
.cover .control {
  position: absolute;
  bottom: 107px;
  width: 67.2%;
  margin: 0 16.4%;
  overflow: hidden;
}
.cover .control span {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 24px;
}
.cover .control .circle_left {
  padding-top: 94px;
  float: left;
  width: 94px;
  background: url("../../img/publish_btn02@2x.png") no-repeat left 0 top 0;
  background-size: 94px 94px;
}
.cover .control .circle_right {
  padding-top: 94px;
  float: right;
  width: 94px;
  background: url("../../img/publish_btn01@2x.png") no-repeat left 0 top 0;
  background-size: 94px 94px;
}
.cover .close {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 48px;
  background: url("../../img/publish_close_icon@2x.png") no-repeat center #242221;
  background-size: 14px 14px;
}
.cover.active {
  display: block;
}
