body {
  padding: 0;
  margin: 0;
  background: #efeff4;
  color: #323232;
}
.header {
  height: 40px;
  background-color: #fff;
  line-height: 40px;
}
.header .icon {
  position: absolute;
  top: 4px;
  left: 10px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../../img/nav_icon_back@2x.png") no-repeat center;
  background-size: 10px 18px;
}
.header .header_title {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d6d7dc;
}
.demand {
  width: 94%;
  height: 131px;
  background: #fff;
  margin: 11px 3% 0 3%;
  border-radius: 5px;
}
.demand .demand_top {
  padding: 12px 11px;
  overflow: hidden;
}
.demand .demand_top .demand_top_txt {
  display: block;
  float: left;
  font-size: 14px;
  color: #323232;
}
.demand .demand_top .demand_top_time {
  display: block;
  float: right;
  font-size: 12px;
  color: #646464;
}
.demand .demand_mid {
  height: 4px;
  background: url("../../img/content_list_border.9@2x.png") repeat-x;
  background-size: 352px 4px;
}
.demand .demand_bot {
  height: 79px;
  padding: 7px 11px 0 11px;
  position: relative;
}
.demand .demand_bot button {
  border: 0;
  padding: 0;
  width: 84px;
  height: 24px;
  background: #efeff4;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  margin-left: -42px;
  bottom: 10px;
}
