<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scable=no">
	<title>魔力月光 - 南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司"/>
	<meta name="description" content="南京鸿鸣网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司，公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../public/css/my/personal_data.css">
</head>
<body>
	<header class="header">
		<i class="icon" onclick="history.back()"></i>
		<span class="header_title">个人资料</span>
	</header>
	<article>
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td>头像</td>
				<td><i class="icon-logo"></i></td>
			</tr>
			<tr>
				<td>简介</td>
				<td><input type="text" value="以前喜欢一个人，现在喜欢一个人"></td>
			</tr>
			<tr>
				<td>企业邮箱/公司总机</td>
				<td><input type="text" value="823546415@qq.com"></td>
			</tr>
			<tr>
				<td>联系人</td>
				<td><input type="text" value="云峰" ></td>
			</tr>
			<tr>
				<td>联系方式</td>
				<td><input type="text" value="18986522315"></td>
			</tr>
			<tr>
				<td>微信号码</td>
				<td><input type="text" value="18986522315"></td>
			</tr>
		</table>
		<div class="photo">
			<div class="photo1">
				<div class="tips"></div>
				<span>微信二维码</span>
			</div>
			<div class="photo1">
				<div class="tips"></div>
				<span>营业执照</span>
			</div>
			<div class="photo1 photo2">
				<div class="tips"></div>
				<span>运营/租赁协议</span>
			</div>
		</div>
	</article>
	<div class="hidden"></div>
	<div class="hid">
		<span>拍照</span>
		<span><input type="file" name="" />从相册选择</span>
		<span class="active" id="cancel">取消</span>
	</div>
</body>
<script src="../../public/js/my/personal_data.js"></script>
</html>