body
	padding 0
	margin 0
	background-color #efefef
	font-family Microsoft YaHei
.header
	height 40px
	background-color #fff
	line-height 40px
	border-bottom 1px solid #d6d7dc
	.padd
		padding 0 10px
		.header_title
			display inline-block
			width 100%
			color #323232
			text-align center
			overflow hidden
			.header_submit
				float right
				color #ea5404
				font-size 12px
			.header_cancel
				font-size 12px
				float left
article
	padding 0 8%
	section
		margin-top 10px
		input
			width 100%
			padding-left 13px
			box-sizing border-box
			border 1px solid #d6d7dc
			border-radius 3px
			height 44px
		textarea
			width 98%
			border 1px solid #d6d7dc
			border-radius 3px
			text-indent 1em
.cover
	position absolute
	display none
	left 0
	top 0
	bottom 0
	right 0
	background rgba(167,167,171,0.5)
	.box_confirm
		height 108px
		width 73%
		background #fff
		border-radius 10px
		margin 278px 13.5% 0 13.5%
		.box_top
			height 63px
			width 100%
			border-bottom 1px solid #d6d7dc
			text-align center
			line-height 63px
			color #323232
			font-size 12px
		.box_bottom
			width 100%
			line-height 44px
			text-align center
			font-size 14px
			color #ea5404
			overflow hidden
			.box_bottom_left
				float left
				width 49.8%
				text-align center
				color #646464
				border-right 1px solid #d6d7dc
			.box_bottom_right
				float left
				width 49.8%
				text-align center
				color #ea5404
