body
	padding 0
	margin 0
	background #b2b2b2
.box_confirm
	height 108px
	width 73%
	background #fff
	border-radius 10px
	margin 280px 13.5% 0 13.5%
	.box_top
		height 63px
		width 100%
		border-bottom 1px solid #d6d7dc
		text-align center
		line-height 63px
		color #323232
		font-size 12px
	.box_bottom
		width 100%
		line-height 44px
		text-align center
		font-size 14px
		color #ea5404