body
	padding 0
	margin 0
	background-color #efefef
	font-family Microsoft YaHei
.header
	height 40px
	background-color #fff
	line-height 40px
	.icon-back
		position absolute
		top 4px
		left 10px
		display inline-block
		width 35px
		height 35px
		background url(../../img/nav_icon_back@2x.png) no-repeat center
		background-size 12px 18px
	.header_title
		display inline-block
		width 100%
		color #323232
		text-align center
		border-bottom 1px solid #d6d7dc
.tips
	display block
	height 33px
	line-height 33px
	padding-left 11px
	color #b4b4b4
.person
	background #fff
	overflow hidden
	border-bottom 1px solid #d6d7dc
	.person_pic
		float left
		width 55px
		height 55px
		background url(../../img/content_img_user@2x.png) no-repeat center
		background-size 40px 40px
	.person_mid
		width 250px
		height 34px
		margin-left 1.5%
		float left
		margin-top 8px
		span
			display block
			&.person_mid_name
				color #323232
			&.person_mid_ident
				color #646464
				font-size 12px
	.person_icon
		float right
		margin-top 10.5px
		width 62px
		height 34px
		background url(../../img/content_icon_call@2x.png) no-repeat center
		background-size 18px 18px
		border-left 1px solid #e1e1e1
.location
	background #fff
	overflow hidden
	height 65px
	.location_left
		width 50%
		padding 9px 0px 9px 11px
		box-sizing border-box
		float left
		span
			color #646464
			line-height 15px
			font-size 12px
			display block
			&.location_left_title
				font-size 14px
				color #323232
	.location_right
		width 50%
		float left
		padding 25px 0 9px 0
		height 65px
		box-sizing border-box
		span
			line-height 15px
			color #646464
			font-size 12px
			display block
.time
	height 44px
	background #fff
	line-height 44px
	padding-left 11px
	color #323232
.button
	margin-top 44px
	button
		width 94%
		height 45px
		color #fff
		background #ea5404
		border 0
		border-radius 5px
		margin 0 3%
.cover
	display none
	position fixed
	left 0
	top 0
	bottom 0
	right 0
	background rgba(167,167,170,0.5)
	.box_confirm
		height 108px
		width 73%
		background #fff
		border-radius 10px
		margin 278px 13.5% 0 13.5%
		.box_top
			height 63px
			width 100%
			border-bottom 1px solid #d6d7dc
			text-align center
			line-height 63px
			color #323232
			font-size 12px
		.box_bottom
			width 100%
			line-height 44px
			text-align center
			font-size 14px
			color #ea5404
			overflow hidden
			.box_bottom_left
				float left
				width 49.8%
				text-align center
				color #646464
				border-right 1px solid #d6d7dc
			.box_bottom_right
				float left
				width 49.8%
				text-align center
				color #ea5404






