body
	padding 0
	margin 0
	background #efeff4
.header
	height 40px
	background-color #fff
	line-height 40px
	.icon
		position absolute
		top 4px
		left 10px
		display inline-block
		width 35px
		height 35px
		background url(../../img/nav_icon_back@2x.png) no-repeat center
		background-size 10px 18px
	.header_title
		display inline-block
		width 100%
		text-align center
		border-bottom 1px solid #d6d7dc
.release_detail
	padding 0
	margin 0
	li
		width 100%
		background #ffffff
		list-style none
		margin-top 5px
		overflow hidden
		padding 12px 0
		&:nth-child(1)
			margin-top 10px
		.container
			width 94%
			height 91px
			margin 0 3%
			.detail_left
				width 34.2%
				height 90px
				background url(../../img/content_img_list@2x.png) no-repeat center
				background-size 128px 90px
				float left
			.detail_right
				width 57%
				padding-top 7px
				float right
				.txt1
					display block
					color #323232
					overflow hidden
					.txt7
						float right
						font-size 12px
						color #646464
				.txt2
					display block
					font-size 12px
					color #646464
					margin-top 5px
				.txt3
					border 1px solid #ea5404
					border-radius 3px
					background #ffffff
					color #ea5404
					margin-top 5px
				.right_bot
					overflow hidden
					margin-top 5px
					.txt4
						float left
						color #727272
						font-size 12px
					.txt5
						float right
						color #727272
						font-size 12px
					.txt6
						float left
						font-size 14px
						color #ea5404





