body
	padding 0
	margin 0
	background #efeff4
.header
	height 40px
	background-color #fff
	line-height 40px
	.icon
		position absolute
		top 4px
		left 10px
		display inline-block
		width 35px
		height 35px
		background url(../../img/nav_icon_back@2x.png) no-repeat center
		background-size 10px 18px
	.header_title
		display inline-block
		width 100%
		text-align center
		border-bottom 1px solid #d6d7dc
article
	margin-top 12px
	background #ffffff
	color #979797
	table
		padding-left 12px
		width 100%
		.icon-logo
			display inline-block
			background url(../../img/20131203152055783.jpg) no-repeat center
			width 30px
			height 30px
			background-size 30px 30px
			border-radius 50%
		td
			height 33px
			border-bottom 1px solid #e1e1e1
			&:nth-child(2)
				color #000000
				position relative
				&:after
					content ''
					width 7px
					height 12px
					display block
					background url(../../img/login_right_03.png) no-repeat center
					background-size 7px 12px
					position absolute
					top 50%
					margin-top -6px
					right 11px
				&.act:after
					content '完成'
					width 40px
					height 33px
					line-height 33px
					text-align center
					display block
					color #ea5404
					background transparent
					position absolute
					right 0
					top 50%
					margin-top -17px
		input
			border none
			outline none
			width 90%
	.photo
		padding-bottom 10px
		margin 0 3.2%
		margin-top 20px
		border-bottom 1px solid #e1e1e1
		overflow hidden
		.photo1
			width 28.5%
			float left
			margin-right 7.25%
			.tips
				background #878787
				height 65px
				border-radius 5px
			span
				margin-top 5px
				display block
				width 100%
				font-size 12px
				text-align center
		.photo2
			margin-right 0
.hidden
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	background rgba(0,0,0,0.4)
	z-index 1
	display none
.hid
	background #ffffff
	padding 0 12px
	position fixed
	z-index 2
	bottom 0
	left 0
	right 0
	display none
	span
		display block
		height 44px
		line-height 44px
		text-align center
		border-bottom 1px solid #d6d7dc
		&:nth-child(3)
			border 0
	.active
		color #eb642b
	input
		position absolute
		opacity 0




