body
	padding 0
	margin 0
	background #efeff4
.header
	height 40px
	background-color #fff
	line-height 40px
	.icon
		position absolute
		top 4px
		right 10px
		display inline-block
		width 35px
		height 35px
		background url(../../img/nav_set_icon@2x.png) no-repeat center
		background-size 20px 20px
	.header_title
		display inline-block
		width 100%
		color #323232
		text-align center
		border-bottom 1px solid #d6d7dc
.login
	width 100%
	height 140px
	background #fff
	margin-top 11px
	.login_main
		position relative
		height 96px
		background url(../../img/login.png) no-repeat left 12px top 16px
		border-bottom 1px solid #d6d7dc
		background-size 65px 65px
		line-height 96px
		padding-left 87px
		&:after
			display block
			content ''
			position absolute
			width 20px
			height 36px
			background url(../../img/login_right.png) no-repeat center
			right 11px
			top 50%
			z-index 1
			margin-top -18px
	.login_bottom
		padding 7px 0
		width 100%
		.bottom
			line-height 29px
			display inline-block
			height 29px
			width 48%
			border-right 1px solid #d6d7dc
			text-align center
			font-size 12px
			.num
				font-weight bold
				font-size 16px
				color #323232
		.right0
			border 0
.main
	padding 0
	margin 0
	.main_li
		height 50px
		margin-top 11px
		list-style none
		line-height 50px
		padding-left 39px
		&:nth-child(1)
			background url(../../img/content_list_icon01@2x.png) no-repeat left 12px top 14px #fff
			background-size 20px 19px
		&:nth-child(2)
			background url(../../img/content_list_icon02@2x.png) no-repeat left 12px top 14px #fff
			background-size 20px 19px
		&:nth-child(3)
			background url(../../img/content_list_icon05@2x.png) no-repeat left 12px top 14px #fff
			background-size 20px 19px
		&:nth-child(4)
			background url(../../img/content_list_icon03@2x.png) no-repeat left 12px top 14px #fff
			background-size 20px 19px
		&:nth-child(5)
			background url(../../img/content_list_icon04@2x.png) no-repeat left 12px top 14px #fff
			background-size 20px 19px
.footer
	position absolute
	height 50px
	width 100%
	bottom 0
	overflow hidden
	background #fff
	padding 0
	margin 0
	.footer_li
		float left
		list-style none
		width 20%
		height 20px
		text-align center
		padding-top 30px
		font-size 12px
		color #b4b4b4
		&:nth-child(1)
			background url(../../img/bottom_nor_icon04@2x.png) no-repeat center top 7px #fff
			background-size 22px 21px
		&:nth-child(2)
			background url(../../img/bottom_nor_icon03@2x.png) no-repeat center top 7px #fff
			background-size 22px 21px
		&:nth-child(3)
			background url(../../img/bottom_icon05@2x.png) no-repeat center top 7px #fff
			background-size 44px 38px
		&:nth-child(4)
			background url(../../img/bottom_nor_icon02@2x.png) no-repeat center top 7px #fff
			background-size 22px 21px
		&:nth-child(5)
			background url(../../img/bottom_nor_icon01@2x.png) no-repeat center top 7px #fff
			background-size 22px 21px